.btn-1{
	position: relative;
	overflow: hidden;
	&:before{
		content: '';
		top: 0;bottom: 0;width: 300%;
		left: 100%;
		position: absolute;
		background-color: #fff;
		transform : rotate(-45deg);
		transition: all 1.5s;
		opacity: 0;
		z-index: 1000;
	}
	&:hover{
		&:before
		{
			opacity: 0.6;
			left: -250%;
			transition: all 1.5s;
		}
	}
}
.my-btn{
	padding: 10px;
	text-transform: uppercase;
	color: #fff;
	background: #694d94;
	border: none;
}