@import 'var';
.blog-content{
	padding-top: 50px;
	padding-bottom: 200px;
	background-image: url('../assets/images/bg-1.png');
	background-repeat: no-repeat;
	font-family: "helvetica_lt_std_roman" ;
	font-size: 12px;
	color: @color7;
	.title{
		span{
			strong{color: @color4;}
		}
	}
	ul{
		li{
			margin-top: 10px;
			list-style-image: url('../assets/images/list.png');
		}
	}
	.blog-client-comment{
		table {
			tr{
				td{
					padding-right: 15px;
				}
			}
		}
	}
	.time-client-comment{
		font-family: "PT Sans" ;
		color: @color6;
	}
	.replay-client{
		background: #e5e5e5;
	}
	.infor-client-comment{
		font-family: "Helvetica" ;
		strong{
			color: @color2;
			text-transform: capitalize;
		}
		input{
			.border-radius(4px);
			height: 40px;
			width: 210px;
			background: none;
			border : 1px solid #d2d2d2;
		}
		textarea{
			height: 130px;
			width: 100%;
			.border-radius(4px);
			border: 1px solid #d2d2d2;
		}
		button{
			text-transform: uppercase;
			background: @color4;
			color: #fff;
			padding: 10px;
		}
	}
	
}

.search-box{
	position: relative;
	input{
		height: 40px;
		width: 210px;
		background: none;
		.border-radius(4px);
		border: 1px solid #d2d2d2;
	}
	button{
		position: absolute;
		right: 3px;top: 3px;
		background: @color4;
		color: #fff;
	}
}
.last-comment{
	font-family: "PT Sans" ;
}
.post-archive{
	strong{
		line-height: 20pt;
	}
}