.top-slideshow{
	background-color: #eeeeee;
	font-family: "PT Sans" ;
	font-weight: bold;
	position: relative;
	min-height: 200px;
}
.top-slide{
	overflow: hidden;
	height: 530px;
	margin-left: -15px;
	margin-right: -15px;
	.mySlides {
		overflow: hidden;
		display:none;
		position: relative;
		img{
			width: 100%;
			height: 530px;
		}
		.sub-slide{
			width: 100%;
			height: auto;
			font-family: "League" ;
			img{
				height: inherit !important;
			}
			position: absolute;
			bottom: 25%;
			font-size: 60px;
			color: #333333;
		}
		
	}
}
.sub-slide-content{
	position: relative;
	width: 1140px;
	margin: 0 auto;
	.line-top{position: absolute;top: 0;}
	.line-bottom{position: absolute;bottom: 0}
	h1{
		// margin: 0;
		font-size: 80px;
		
	}
	.far-far-slide{
		text-align: left;
		width: 32%;
		position: relative;
		img{
			width: 212px;
			height: inherit !important;
		}
	}
}
.sub-slide-content-small{
	position: relative;
	width: 930px;
	margin: 0 auto;
	.line-top{position: absolute;top: 0;}
	.line-bottom{position: absolute;bottom: 0}
	h1{
		// margin: 0;
		font-size: 80px;
		
	}
	.far-far-slide{
		text-align: left;
		width: 37%;
		position: relative;
		img{
			width: 212px;
			height: inherit !important;
		}
	}
}
.slide-content{
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	.far-slide-content{
		position: relative;
		width: 100%;height: 100%;
		.slide-control{
			position: absolute;
			bottom: 50px;
			left: 0;
			button{
				background: #b3b3b3;
				color: #fff;
				// padding: 15px;
				font-size: 30px;
				width: 50px;height: 50px;
				border: none;
			}
		}
		
		.mxh{
			position: absolute;
			right: 0;bottom:5%;
			i{
				font-size: 20px;
				padding-left: 8px;
   				 padding-top: 7px;
			    color: #FFF;
			    transition: all 0.5s;
			    background: #303030;
			   	width: 32px;
	    		height: 32px;
				&:hover{
					color: #00bff3;
					transition: all 0.5s;
				}
			}
		}
	}
}
.mxh{
	i{
		font-size: 20px;
	    color: #FFF;
	    transition: all 0.5s;
	    background: #303030;
	    width: 32px;
	    height: 32px;
	    padding-left: 8px;
    	padding-top: 7px;
		&:hover{
			color: #00bff3;
			transition: all 0.5s;
		}
	}
}
#header{
	background: #eaeae4;
	font-family: "League" ;
	padding-top: 50px;
	padding-bottom: 50px;
	.header-sub{
		display: flex;
		flex-direction: column;
		img{
			width:inherit;
		}
		h1{
			position: relative;
			border-top: 3px solid #333333;
			border-bottom: 3px solid #333333;
			margin: 0;
			font-size: 80px;
			text-transform: uppercase;
			color: #333333;
			&:before{
				content: '';
				z-index: 1;
				position: absolute;
				height: 1px;
				background: #333333;
				left: 0;right: 0;top: -5px;
			}
			&:after{
				content: '';
				z-index: 1;
				position: absolute;
				height: 1px;
				background: #333333;
				left: 0;right: 0;bottom: -5px;
			}
		}
	}
}

.opentime{
	position: absolute;
	right: 0;
	bottom: 17%;
	text-align: left;
	img{
		float: right;
	}
	.time-far{
		 
		.time-set{
			position: absolute;
			bottom: 0;
			left: -20px; 
			color: #f0f0f0;
			text-align: left;
			td{
				padding-left: 45px;
				padding-bottom: 17px;
				font-size: 12px;
			}
			td.time2{
				color: #505050;
			}
		}
	}
}