@import 'bootstrap/bootstrap';
// Bootstrap
@import 'var';
// Bootstrap
*{
	padding: 0;
	margin: 0;
}
.container-960{
	font-size: 12px;
}
.clear{
	clear: both;
}
.success-2{
	background: #f5f5f5;
}
.c1{
	color: @color1 !important;
}
.c2{
	color: @color2 !important;
}
.c3{
	color: @color3;
}
.c4{
	color: @color4;
}
.c5{
	color: @color5;
}
.c6{
	color: @color6 !important;
}
.c7{
	color: @color7;
}

.bgr2{
	background-color: @color2;
}
.bgr4{
	background-color: @color4;
}
.absolute{
	position: absolute !important;
}
.relative{
	position: relative !important; 
}
.static{
	position: static !important;
}
.none{
	display: none;
}
/* add font here */
@font-face{
	font-family: "Helvetica" ;
	src:url("fonts/helvetica/Helvetica.otf") format("truetype");
}
@font-face{
	font-family: "League" ;
	src:url("fonts/League-Gothic/LeagueGothic-Regular.otf") format("truetype");
}
@font-face{
	font-family: "PT Sans" ;
	src:url("fonts/ptSans/PT_Sans-Web-Regular.ttf") format("truetype");
}
@font-face{
	font-family: "PT Sans-bold" ;
	src:url("fonts/ptSans/PT_Sans-Web-Bold.ttf") format("truetype");
}

@font-face{
	font-family: "helvetica_lt_std_roman" ;
	src:url("fonts/helvetica_lt_std_roman/HelveticaLTStd-Roman.otf") format("truetype");
}


.f20{
	font-size: 20px;
}
.f12{
	font-size: 12px;
}
.f14{
	font-size: 14px;
}
.f16{
	font-size: 16px;
}
.f18{
	font-size: 18px;
}
.f24{
	font-size: 24px;
}
.f26{
	font-size: 26px;
}
.mt50{
	margin-top: 50px;
}

.mt60{
	margin-top: 60px;
}

.mt15{
	margin-top: 15px;
}
.mt25{
	margin-top: 25px;
}
.mt30{
	margin-top: 30px;
}
.mt90{
	margin-top: 90px;
}
.mt100{
	margin-top: 100px;
}
.mb15{
	margin-bottom: 15px;
}
.mb30{
	margin-bottom: 30px;
}
.mb40{
	margin-bottom: 40px;
}
.pd0{
	padding: 0 !important;
}
.pb200{
	padding-bottom: 200px;
}
.full-width{
	width: 100%
}
.bg-none{
	background: none !important;
}
.pt40{
	padding-top: 40px;
}
.text-up{
	text-transform: uppercase;
}
.text-right{
	text-align: right;
}
.text-left{
	text-align: left;
}
.right{
	float: right;
}
.left{
	float: left;
}
.img-fullwidth{
	img{width: 100%}
}
.flex-center{
	display: flex;
	align-items: center;
	justify-content: center;
}
.flex-center-space{
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.flex-end-just{
	display: flex;
	align-items : flex-end;
	justify-content: space-between;
}
.flex-column{
	display: flex;
	flex-direction: column;
}
.text-right{
	text-align: right;
}
.bold{
	font-weight: bold;
}
.border{
	border: 1px solid #ececec;
}
.act{
	color: #6c5098!important;
}
body{
	input,textarea{
		&:hover{
			border: 2px solid @color4 !important;
		}
	}
	strong{
		color: #333333;
	}
	a{
		color: @color4;
		text-decoration: none;
		&:hover,&:focus, &:active{
			text-decoration: none;
		}
	}
	span{
		line-height: 20pt;
	}
	img{
		max-width: 100%;
	}
}

.img-full-width{
	img{
		width: 100%;
	}
}
.top-nav{
	position: absolute;
	top: 0;left: 0;right: 0;
	margin: 0 auto;
	z-index: 2;
	font-family: "PT Sans" ;
	font-weight: bold;
	padding-top: 15px;
	background: @color3;
	opacity: 0.9;
	
	a{
		text-transform: uppercase;
		color: #fff;
		font-size: 12px;
		i{font-size: 9px}
	}
}
.top-nav-content{
	display: flex;
	align-items: center;
	
	.my-nav-respon{
		width: 100%;
		display: flex;
	    align-items: baseline;
	    justify-content: flex-end;
		ul{	
			margin: 0;
			display: flex;
			color: #fff;
			li{
				// overflow: hidden;
				position: relative;
				list-style-type: none;
				margin-right: 30px;
				text-align: center;
				padding-bottom: 10px;
				font-size: 12px;
				&:before{
					content: '';
					opacity: 0;
					position: absolute;
					bottom: 0;left: 0;right: 0;height: 5px;background: @color4;
					transform : translateX(-100px);
					transition: all 0.5s;
				}
				&:after{
					opacity: 0;
					content: '';position: absolute;width: 0;height: 0;
					border-bottom: 5px solid @color4;
					border-right: 5px solid transparent;
					border-left: 5px solid transparent;
					bottom: 5px;left: 50%;
					transform: translateX(-50%);
					transform : translateX(-100px);transition: all 0.5s;
				}
				ul{
					border-top: 5px solid #fff;
					display: inherit;
					margin: 0 auto;
					text-align: left;
					margin-top: 6px;
					position: absolute;
					display: none;
					background-color: @color3;
					z-index: 100;
					width: 150px ;
					height: auto;
					color: #fff;
					transition: all 1s;
					li{
						margin: 0 auto;
						padding: 20px;
						float: none;
						font-size: 12px;
						border-bottom: 1px solid #414141;
						a{
							color: #fff;
							text-transform: uppercase;
						}
						&:hover{
							a{color: @color4;}
							
							&:before, &:after{
								display: none;
							}
						}

						
						i{
							position: relative;
							&:after{
								content: '';
								position: absolute;z-index: 100;
								top: 0;width: 20px;height: 20px;background: red;
							}
						}

					}
				}
				&:hover{
					&:before{
						opacity: 1;
						transform : translateX(0px);transition: all 0.5s;
					}
					&:after{
						opacity: 1;
						transform: translateX(-50%);transition: all 0.5s;
					}
					ul{
						 display: block;
						 transform : translateY(0);
						 transition: all 0.5s;	
					}
					a{
						color: #fff;
					}
				}
			}
		}
	}
	
}

.makean{
    .background-linear-gradient();
	.border-radius(2px);
	padding: 15px;
	color: #fff;
	&:hover{
		color: #fff;
	}
}
.top-nav-subpage{
	position: relative;
	z-index: 2;
	font-family: "PT Sans" ;
	font-weight: bold;
	padding-top: 15px;
	background: @color3;
	opacity: 0.9;
	a{
		font-size: 12px;
		text-transform: uppercase;
		color: #fff;
		i{font-size: 9px;}
	}
}


.title{
	h2{
		color: #333333;
		font-family: "PT Sans" ;
		font-size: 18px;
		text-transform: uppercase;
		margin: 0;
		strong{
			font-family: "PT Sans-bold" ;
			font-size: 18px;
		}
	}

	span{
		font-family: "PT Sans" ;
		font-size: 13px;
		color: @color6;
		strong{
			color: @color4;
		}
	}

}


.meet-team{
	overflow: hidden;
	padding: 40px 0;
	background: #252525;
	text-align: center;
	color: #fff;
	.meet-team-title{
		button{
			color: #000;
			height: 14px;width: 14px;
			padding: 0;
			font-size: 8px;
		}
	}
	#owl-demo-3{
		.item{
			.btn-n{
				width: 135px;
				height: 185px;
				margin: 0 auto;
				margin-bottom: 10px;
				position: relative;
				overflow: hidden;
				img{
					-webkit-filter: grayscale(100%);
					width: 100%;
					height: 185px;transition: all 1s;
				}
				&:before{
					z-index: 100;
					content: "";
					position: absolute;
					left: 200%;top: 10%;bottom: 10%;
					width: 300%;
				    opacity: 0;
				    background: #fff;
				    transform : rotate(-65deg);
				    transition: all 1s;
				}
				&:hover{
					&:before{
						left: -170%;
						opacity:0.3;
					    transition: all 1s;
					}
					img{
						-webkit-filter: grayscale(0);
						transition: all 1s;
					}
				}
			}
			span{
				text-transform: uppercase;
				color: @color4;
				font-weight: bold;
			}
		}
	}

}

.about{
	overflow: hidden;
	padding-top: 40px;
	padding-bottom: 10px;
	img{
		padding: 15px 0;
	}
	button{
		padding: 10px;
		&:hover{
			color: #fff;
		}
	}
	.about-content{
		padding-bottom: 40px;
		font-family: "helvetica_lt_std_roman" ;
		font-size: 13px;
		span{
			color: @color7;			
		}
	}
}
.logotipi{
	padding-bottom: 30px;
}

.footer{
	position: relative;
	font-family: "PT Sans" ;
	padding-top: 50px;
	background: @color3;
	// margin-left: 40px;
	.title{
		h2,strong{color: #fff;}
	}
	.footer-content{
		overflow: hidden;
		a{
			font-size: 14px;
		}
		span{
			font-size: 13px;
		}
		.foot-navigation-content{
			ul{
				margin: 0;padding: 0;
				li{
					list-style-type: none;
					border-bottom: 1px solid @color7;
					width: 100%;
					text-transform: capitalize;
					font-weight: bold;
					padding: 10px 0;
					a{
						color: #fff;
					}
					&:hover{
						a{
							color: @color4;
						}
					} 
				}
			}
		}
		.foot-twitter{
			font-family: "helvetica_lt_std_roman" ;
			button{
				width: 14px;height: 14px;font-size: 8px;padding: 0;
			}
			span{
				font-weight: bold;
			}
		}
		.foot-contact-content{
			color: #fff;
			width: 70%;
		}
		.foot-facebook-content{
			iframe{
				// width: 100%;
				overflow: scroll;
				border: 1px solid #aaaaaa !important;
				border-top-color: #315c99 !important;
			}
		}
	}
	
	.bott-foot{
		font-family: "helvetica_lt_std_roman";
	    font-size: 12px;
	    position: relative;
	    right: 0;
	    color: #727272;
	    background-color: #191919;
	    padding-bottom: 20px;
	    padding-top: 20px;
	    margin-top: 50px;
		strong{
			color: #fff;
		}
		button.up-top{
			border-radius: 0;
			padding: 8px 25px;
			background-color: #191919;
			position: absolute;
			bottom: 98%;
		    position: absolute;
		    bottom: 100%;
		    left: 50%;
		    transform: translateX(-50%);
		}
		.bott-foot-sub{
			font-weight: bold;
		}
	}
}
.footer-index{

	padding-bottom: 70px;
	position: relative;
	font-family: "PT Sans" ;
	padding-top: 50px;
	background: @color3;
	margin-left: 40px;
	.title{
		h2,strong{color: #fff;}
	}
	.footer-content{
		overflow: hidden;
		a{
			font-size: 14px;
		}
		span{
			font-size: 13px;
		}
		.foot-navigation-content{
			ul{
				margin: 0;padding: 0;
				li{
					list-style-type: none;
					border-bottom: 1px solid @color7;
					width: 100%;
					text-transform: capitalize;
					font-weight: bold;
					padding: 10px 0;
					a{
						color: #fff;
					}
					&:hover{
						a{
							color: @color4;
						}
					} 
				}
			}
		}
		.foot-twitter{
			font-family: "helvetica_lt_std_roman" ;
			button{
				width: 14px;height: 14px;font-size: 8px;padding: 0;
			}
			span{
				font-weight: bold;
			}
		}
		.foot-contact-content{
			color: #fff;
			width: 70%;
		}
		.foot-facebook-content{
			iframe{
				width: 100%;
				overflow: scroll;
			}
		}
	}
	
	.bott-foot{
		font-family: "helvetica_lt_std_roman" ;
		font-size: 12px;
		position: absolute;
		top: 98%;
		left: 13px;
		right: 0;
		color: @color5;
		background-color: #191919;
		padding-bottom: 20px;
		padding-top: 20px;
		strong{
			color: #fff;
		}
		
		button.up-top{
			border-radius: 0;
			padding: 8px 25px;
			background-color: #191919;
			position: absolute;
			bottom: 98%;
		    position: absolute;
		    bottom: 100%;
		    left: 50%;
		    transform: translateX(-50%);
		}
		
		.bott-foot-sub{
			margin-left: -28px;
			font-weight: bold;
		}
	}
}

// Preloader html Here
.page-loader {
	 position: fixed;
	 left: 0px;
	 top: 0px;
	 width: 100%;
	 height: 100%;
	 z-index: 9998;
	 background: #f9f9f9 ;
	 .pre-loader{
 	    position: absolute;
	    top: 50%;
	    left: 50%;
	    transform: translate(-50% ,-50%);
	 }
}

.sk-cube-grid {
  width: 40px;
  height: 40px;
  margin: 100px auto;
}

.sk-cube-grid .sk-cube {
  width: 33%;
  height: 33%;
  background-color: #333;
  float: left;
  -webkit-animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
          animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out; 
}
.sk-cube-grid .sk-cube1 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s; }
.sk-cube-grid .sk-cube2 {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s; }
.sk-cube-grid .sk-cube3 {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s; }
.sk-cube-grid .sk-cube4 {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s; }
.sk-cube-grid .sk-cube5 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s; }
.sk-cube-grid .sk-cube6 {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s; }
.sk-cube-grid .sk-cube7 {
  -webkit-animation-delay: 0s;
          animation-delay: 0s; }
.sk-cube-grid .sk-cube8 {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s; }
.sk-cube-grid .sk-cube9 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s; }

@-webkit-keyframes sk-cubeGridScaleDelay {
  0%, 70%, 100% {
    -webkit-transform: scale3D(1, 1, 1);
            transform: scale3D(1, 1, 1);
  } 35% {
    -webkit-transform: scale3D(0, 0, 1);
            transform: scale3D(0, 0, 1); 
  }
}

@keyframes sk-cubeGridScaleDelay {
  0%, 70%, 100% {
    -webkit-transform: scale3D(1, 1, 1);
            transform: scale3D(1, 1, 1);
  } 35% {
    -webkit-transform: scale3D(0, 0, 1);
            transform: scale3D(0, 0, 1);
  } 
}
// End preloader html here
/////////////////////////////////////////////////////////////////////////////////////////////////

@media (min-width:480px) {

}

/////////////////////////////////////////////////////////////////////////////////////////////////

@media (min-width: 768px) {

}

/////////////////////////////////////////////////////////////////////////////////////////////////

@media (min-width: 992px) {
	
}









/////////////////////////////////////////////////////////////////////////////////////////////////

  @media (max-width: 1200px) {
   	span{
   		font-size: 12px;
   	}
  }

/////////////////////////////////////////////////////////////////////////////////////////////////

@import 'my-a';
@import 'btn';
@import 'img-hover';
@import 'my-animate';
@import 'keyframes';

@import 'team';
@import 'single-post';
@import 'sidebar';
@import 'search-resuilts';
@import 'pricing';
@import 'services';
@import 'appointment';
@import 'features';
@import 'contact';
@import 'blog';
@import '404';
@import 'index';